name: Manual destroy
run-name: ${{ github.actor }} run the workflow
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to destroy"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prd

permissions:
  id-token: write
  contents: read

jobs:
  destroy-terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: "arn:aws:iam::075006646450:role/OICD-github-actions"
          aws-region: "eu-west-1"

      - name: Check AWS Identity
        run: aws sts get-caller-identity

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -backend-config=${{ github.event.inputs.env }}.config

      - name: Terraform Destroy
        working-directory: ./terraform
        run: terraform destroy -var-file=${{ github.event.inputs.env }}.tfvars -auto-approve
